@using EntityLayer.Concrete.System

@model List<SysUser>

@{
    ViewData["Title"] = "User Listesi";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_DarkLayout.cshtml";
}

<h1 class="display-4">User Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.PersonID</td>
            <td>@item.CreatedDate</td>
            <td>@item.Status</td>
            <td><a href="~/User/UpdateUser/@item.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="~/User/DeleteUser/@item.Id" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="~/User/AddUser" class="btn btn-info">Yeni Kişi</a>