@using EntityLayer.Concrete.People

@model List<Person>

@{
    ViewData["Title"] = "Personel Listesi";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_DarkLayout.cshtml";
}

<h1>İnsan Kaynakları / Personel Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Görüntüle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td>@item.UpdatedDate</td>
            <td>@item.Status</td>
            <td><a href="~/Person/UpdatePerson/@item.Id" class="btn btn-danger">Güncelle</a></td>
            <td><a href="~/Person/DetailPerson/@item.Id" class="btn btn-warning">Görüntüle</a></td>
        </tr>
    }
</table>
<a href="~/Person/AddPerson" class="btn btn-info">Yeni Kişi</a>